.button{
  display: block;
  height: 30px;
  overflow: hidden;
  background-color: #005bd7;
  outline: none;
  border: 0 solid transparent;
  border-radius: 2px;;
  cursor: pointer;
  padding: 0 10px;
  margin-left: auto;
  margin-right: 10px;
  position: relative;
  text-align: center;
}

.icon{
  width: 20px;
  height: 20px;
  fill: #ffffff;
  display: inline-block;
  vertical-align: middle;
}

.label{
  margin-left: 5px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}