.add-text-form{
  .add-text-input{
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    border: 1px solid #BDBDBD;
    min-width: 200px;
    width: 50%;
    background-color: #ffffff;
    font-size: 12px;
    padding: 5px 10px;
  }
}


@media screen and (max-width: $mobileBreakPoint){
  .add-text-form{
    width: 100%;
    .add-text-input{
      width: calc(100% - 116px);
    }
  }
}

@media screen and (max-width: 320px){
  .add-text-form{
    width: 100%;
    .add-text-input{
      min-width: 50px;
      width: calc(100% - 120px);
    }
  }
}