.button{
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 60px;
  max-width: 120px;
  height: 60px;
  overflow: hidden;
  background-color: transparent;
  outline: none;
  border: 0 solid transparent;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  color: #757575;
  user-select: none;

  &.disabled{
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }

  &.button-shapes{
    svg{
      display: block;
      width: 25px;
      height: 25px;
      fill: #757575;
      margin: 0 auto;
    }
  }

  .image{
    display: block;
    width: 25px;
    height: 25px;
    fill: #757575;
    margin: 0 auto;
  }

  .icon{
    display: block;
    width: 25px;
    height: 25px;
    fill: #757575;
    margin: 0 auto;
  }

  .label{
    margin-top: 3px;
    font-size: 10px;
    text-align: center;
    color: #757575;
    white-space: nowrap;
    white-space: nowrap;
  }

  &.active{
    .label {
      color: #212121;
    }
    .icon {
      fill: #212121;
    }
  }

  &.blue{
    .label {
      color: #ffffff;
    }
    .icon,
    .image {
      width: 25px;
      height: 25px;
      fill: #ffffff;
    }
  }

  &.cart-button{
    display: block;
    min-width: 85px;
    text-align: center;
    flex-direction: row;
    height: 44px;
    overflow: hidden;
    background-color: #FF0201;
    outline: none;
    border: 0 solid transparent;
    border-radius: 2px;;
    cursor: pointer;
    padding: 5px 0;
    margin-left: auto;
    margin-right: 10px;
    position: relative;
    text-align: center;
    color: #ffffff;

    .icon,
    .image {
      width: 20px;
      height: 20px;
      fill: #ffffff;
      display: inline-block;
      vertical-align: middle;
    }

    .label{
      margin: 0;
      font-size: 12px;
      text-align: center;
      color: #ffffff;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
    }
  }

  &.complete-drawing{
    height: 35px!important;
    margin-left: 10px!important;
    background-color: #FF0201!important;
  }

  &.trash{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ececec;
    border-radius: 2px;
    height: 30px;
    padding: 5px 10px;
    color: #757575;
    z-index: 999;
    .icon{
      display: none;
    }
    .label{
      margin: 0;
      color: #757575;
      font-size: 12px;
    }
  }

  &.add-text{
    display: inline-block;
    vertical-align: middle;
    background-color: #9E9E9E;
    border-radius: 2px;
    height: 26px;
    width: auto;
    margin: 0 0 0 10px;
    padding: 5px 10px;
    color: #ffffff;
    .icon{
      display: none;
    }
    .label{
      margin: 0;
      color: #ffffff;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $mobileBreakPoint){

  .button {
    min-width: 45px;
    height: 60px;
    padding: 5px;
    margin: 0;
    &.hamburger-button{
      flex-direction: row;
    }

    .icon,
    .image {
      width: 30px;
      height: 30px;
    }

    &.cart-button{
      display: -webkit-flex;
      align-items: stretch;
      justify-content: space-around;
      flex-direction: column;
      width: 55px;
      height: 50px;;
      padding: 5px;
      margin: 0;
      background-color: #ffffff;

      .icon,
      .image {
        width: 30px;
        height: 30px;
        fill: #FF0201;
        margin: 0 auto;
        display: block;
      }

      .label {
        margin: 0;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #FF0201;
      }
    }
  }

}

@media screen and (max-width: 320px){
  .button{
    &.blue {
      min-width: 25px;
      height: 40px;
      padding: 2px;
      margin: 0;
      flex-direction: column;
      &.hamburger-button{
        flex-direction: row;
      }
      canvas{
        display: none;
      }
      .icon,
      .image {
        width: 20px;
        height: 20px;
      }
    }
    &.cart-button{
      width: 20px;
      height: 65px;
    }

  }

}
