.cart-button{
  display: block;
  height: 30px;
  overflow: hidden;
  background-color: #0F5FD4;
  outline: none;
  border: 0 solid transparent;
  border-radius: 2px;;
  cursor: pointer;
  padding: 0 10px;
  margin-left: auto;
  margin-right: 10px;
  position: relative;
  text-align: center;
  color: #ffffff;
  .icon{
    width: 20px;
    height: 20px;
    fill: #ffffff;
    display: inline-block;
    vertical-align: middle;
  }

  .label{
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
  }
}



@media screen and (max-width: $mobileBreakPoint){

  .cart-button{
    display: -webkit-flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    min-width: 65px;
    min-height: 65px;
    padding: 5px;
    margin: 0;

    .icon {
      width: 30px;
      height: 30px;
      fill: #ffffff;
      margin: 0 auto;
      display: block;
    }

    .label {
      margin: 0;
      font-size: 10px;
      text-align: center;
      color: #ffffff;
    }
  }

}

@media screen and (max-width: 320px){
  .cart-button{
    min-width: 55px;
    min-height: 65px;
  }
}