.drop-down{
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  min-width: 125px;
  padding: 0 10px;
  background: transparent;
  cursor: pointer;
  position: relative;

  .icon{
    width: 14px;
    height: 14px;
    margin-left: auto;
    fill: #bdbdbd;
  }

  .label{
    font-size: 12px;
    color: #1f2c36;
  }

  .list{
    display: none;
    position: absolute;
    width: calc(100% + 2px);
    top: -1px;
    left: -1px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    background-color: #ffffff;
    text-align: left;
    &.active{
      display: block;
    }
    .list-item{
      width: 100%;
      display: block;
      font-size: 12px;
      padding: 5px 10px;
      &:hover{
        background-color: #fafafa;
      }
    }
  }

  .color{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
