.flat-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30px;
  height: auto;
  overflow: hidden;
  background-color: transparent;
  outline: none;
  border: 0 solid transparent;
  cursor: pointer;
  position: relative;
  color: #616161;
  user-select: none;
  padding: 0;

  .icon{
    display: block;
    width: 25px;
    height: 25px;
    fill: #616161;
    margin: 0 auto;
    display: block;
  }

  .label{
    margin-top: -3px;
    font-size: 9px;
    text-align: center;
    color: #616161;
    white-space: nowrap;
    text-transform: uppercase;
  }
}

@media screen and (max-width: $mobileBreakPoint){
  .flat-button {
    height: 30px;
    .label{
      display: none;
    }
  }

}
