.icon-button{
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 60px;
  min-height: 60px;
  overflow: hidden;
  background-color: transparent;
  outline: none;
  border: 0 solid transparent;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  color: #7794aa;
  user-select: none;

  .icon{
    display: block;
    width: 25px;
    height: 25px;
    fill: #7794aa;
    margin: 0 auto;
    display: block;
  }

  .label{
    margin-top: 3px;
    font-size: 10px;
    text-align: center;
    color: #7794aa;
    white-space: nowrap;
  }

  &.active{
    .label {
      color: #000000;
    }
    .icon {
      fill: #000000;
    }
  }

  &.blue{
    .label {
      display: none;
      color: #ffffff;
    }
    .icon {
      width: 25px;
      height: 25px;
      fill: #ffffff;
    }
  }

  &.trash{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ececec;
    border-radius: 2px;
    min-height: 20px;
    padding: 5px 10px;
    color: #757575;
    .icon{
      display: none;
    }
    .label{
      margin: 0;
      color: #757575;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $mobileBreakPoint){

  .icon-button {
    min-width: 45px;
    min-height: 65px;
    padding: 5px;
    margin: 0;

    .icon {
      width: 30px;
      height: 30px;
    }
  }

}