.layer{
  width: 40px;
  height: 40px;
  padding: 2px;
  margin: 0 5px;
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 20;
  position: relative;

  &.active{
    border-color: #f1877f;
  }
}
