.options{
  width: 100%;
  background-color: #ececec;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  user-select: none;

  .top{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    &.show{
      display: flex;
    }
  }

  .bottom{
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 1px solid #bdbdbd;
    &.show{
      display: flex;
    }
  }

  .shapes{
    width: calc(100% - 100px);
    white-space: nowrap;
    height: 60px;
    padding: 10px 0;
    text-align: center;
    .shape{
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 0 10px;
      cursor: pointer;
    }
  }

  .layers{
    width: 100%;
    white-space: nowrap;
    height: 60px;
    padding: 10px 0;
    text-align: center;
    overflow-y: hidden;
    margin: 0;
  }

  .colors{
    width: calc(100% - 100px);
    white-space: nowrap;
    height: 60px;
    padding: 17px 0;
    text-align: center;
    .color{
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 8px;
      border: 1px solid #bdbdbd;
      margin: 0 10px;
      cursor: pointer;
    }
  }


  .sides{
    width: calc(100% - 100px);
    white-space: nowrap;
    height: 60px;
    padding: 5px 0;
    .side{
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 10px;
      cursor: pointer;
      text-align: center;
      .preview{
        display: inline-block;
        width: 35px;
        height: 35px;
      }
      .title{
        font-size: 10px;
        color: #9e9e9e;
        text-align: center;
      }
    }
  }

  .button{
    color: #9e9e9e;
    padding: 10px 0 0 0;
    .icon{
      fill: #9e9e9e;
    }
    .label{
      color: #9e9e9e;
      line-height: 1;
      white-space: normal;
    }

  }

  .options-toggle-button{
    position: absolute;
    right: 5px;
    border: none;
    background-color: initial;
    bottom: -16px;
    padding: 0;
    div{
      height: 16px;
      font-size: 12px;
      background-color: #ececec;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      color: #757575;
      line-height: 16px;
      padding: 0 5px;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $mobileBreakPoint){
  .options {
    top: initial;
    bottom: 0;
    border-top: 1px solid #bfbfbf;
    .top,
    .bottom{
      min-height: 45px;
      height: 60px;
      overflow: auto;
      padding: 0 10px;
      justify-content: flex-start;
    }
    .button{
      width: 60px;
      min-width: 60px;
      margin-right: 10px;
      position: relative;
    }

    .options-toggle-button{
      right: initial;
      left: 5px;
      top: -22px;
      padding: 5px;
      bottom: initial;
      box-sizing: border-box;
      div{
        border-bottom-right-radius: initial;
        border-bottom-left-radius: initial;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }
    }
  }
}
