.product-load{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
  overflow-y: scroll;
  overflow-x: hidden;
  &.active{
    display: block;
  }
  .head{
    padding: 0 35px;
    height: 65px;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f5;
    .aside{
      width: 100px;
      &:last-child{
        text-align: right;
      }
    }
  }
  .content{
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    //flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 60px auto;
    width: 840px;
    min-height: calc(100% - 65px);
  }
}

@media screen and (max-width: $mobileBreakPoint){
  .product-load{
    .head{
      padding: 15px;
      height: 50px;
      .aside {
        width: 50px;
      }
    }
    .content{
      width: 100%;
    }
  }
}
