.button{
  display: -webkit-flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-color: transparent;
  outline: none;
  border: 0 solid transparent;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
  color: #7794aa;
}

.icon{
  width: 25px;
  height: 25px;
  fill: #7794aa;
  margin: 0 auto;
  display: block;
}

.label{
  margin-top: 3px;
  font-size: 10px;
  text-align: center;
  color: #7794aa;
}

.active{
  color: #000000;
  fill: #000000;
}
