.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-color: transparent;
  outline: none;
  border: 0 solid transparent;
}

