.dropDown{
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  min-width: 125px;
  padding: 10px;
  cursor: pointer;
}

.icon{
  width: 14px;
  height: 14px;
  margin-left: auto;
  fill: #bdbdbd;
}

.label{
  font-size: 12px;
  color: #1f2c36;
}