.header{
  height: 60px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo{
  width: 60px;
  height: 60px;
}